.lista-estadisticas {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lista-estadisticas h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.lista-estadisticas p {
    font-size: 1.1em;
    margin: 5px 0;
    color: #555;
}

.lista-estadisticas p:last-child {
    margin-top: 15px;
    font-weight: bold;
    color: #d9534f; /* Color rojo para resaltar la necesidad del coche */
}