/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
  
  #contenedor-contenedor {
    display: flex;
    height: 100vh;
  }
  
  /* Contenedor de la lista y la información */
  .contenedor-personajes {
    width: 30%;
    background-color: #e3f2fd;
    border-right: 2px solid #b0bec5;
    padding: 15px;
    overflow-y: auto;
  }
  
  .contenedor-informacion {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
  }
  