#arrastrables, 
#primera-fila-soltables,
#segunda-fila-soltables,
#tercera-fila-soltables{
    display: flex;
    justify-content: center;
}

#arrastrables{
    border: 1px solid gray;
    background-color: bisque;
    margin-top: 20px;   
}

#primera-fila-soltables{
    margin-top: 20px;
}

.puzzle{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.arrastrable img{
    width: 100px;
    height: 100px;
    padding: 20px;
}
