.contenido{
    display: none;
}

.tabs{
    display: inline-flex;
    border: 1px solid blue;
    margin-bottom: 0px;
}

.tab{
    margin-right: 30px;
    cursor: pointer;
    font-size: 20px;
}

article{
    border: 1px solid cyan;
    padding: 10px;
    margin-bottom: 10px;
}

h2{
    color: red;
    text-align: center;
    font-weight: bold;
}

.contenidoMostrado{
    border: 1px solid blue;
}