/* Sección de filtros */
.botones-filtrar {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botones-filtrar input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

/* Sección de ordenación */
.botones-ordenar {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.botones-navegacion {
    margin-bottom: 15px;
}

.botones-navegacion a {
    display: block;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    background: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.botones-navegacion a:hover {
    background: #0056b3;
}